@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

#app {
  max-width: 1280px;
  height: 100%;
  font-weight: normal;
}

body {
  @apply bg-stone-950 text-white min-h-screen flex;
}
